* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	font-style: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
}

.hi__block, .popup-success__content, .popup-subscribe__content, .orange-btn, .initial__btns a, .header__language-btn, .purple-btn,
.purple-circle-btn, .popup-success__container, .popup-subscribe__container, .popup-success, .popup-subscribe {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.header__background, .background {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: url("../img/bg.png");
	background-size: 100% auto;
	mix-blend-mode: color-burn;
	opacity: 0.07;
}

.popup-success__close-btn, .popup-subscribe__close-btn, .header__menu-close {
	width: 24px;
	height: 24px;
	background: url("../img/cross.svg") no-repeat;
	background-size: cover;
}

.popup-success, .popup-subscribe {
	position: fixed;
	z-index: 20;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	visibility: hidden;
	opacity: 0;
}

.popup-success__container, .popup-subscribe__container {
	position: relative;
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	border: 5px solid #D7E2F1;
	-webkit-box-shadow: 10px 30px 20px rgba(0, 0, 0, 0.05);
	        box-shadow: 10px 30px 20px rgba(0, 0, 0, 0.05);
	border-radius: 60px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-transform: scale(0);
	        transform: scale(0);
}

body {
	font-family: "Montserrat", sans-serif;
	background: #FFFBFB;
}

h1, h3, h4 {
	font-family: "Caveat", cursive;
	font-weight: 700;
}

h1 {
	font-size: 120px;
	line-height: 150%;
	color: #2E1F3C;
}

h3 {
	font-size: 50px;
	line-height: 63%;
	color: #2E1F3C;
}

h4 {
	font-size: 36px;
	line-height: 150%;
	color: #111827;
}

@media (max-width: 1200px) {
	h1 {
		font-size: 100px;
	}
}
@media (max-width: 991.5px) {
	h1 {
		font-size: 80px;
	}
}
@media (max-width: 767.5px) {
	h1 {
		font-size: 65px;
	}
	h4 {
		font-size: 30px;
	}
}
@media (max-width: 575.5px) {
	h1 {
		font-size: 44px;
	}
	h4 {
		font-size: 26px;
	}
}
.wrapper {
	position: relative;
}

.purple-btn,
.purple-circle-btn {
	height: 50px;
	background: #535182;
	border-radius: 50px;
}

.purple-btn {
	font-size: 18px;
	line-height: 22px;
	font-weight: 600;
	color: #FFF;
}

.purple-circle-btn {
	width: 50px;
}

.header {
	width: 100%;
	position: fixed;
	z-index: 10;
	background: #FFFBFB;
}
.header__container {
	position: relative;
	z-index: 2;
	padding: 0 20px;
	max-width: 1458px;
	width: 100%;
	height: 99px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 0;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.header__logo {
	height: 100%;
}
.header__menu ul {
	padding-top: 43px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 33px;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: stretch;
	    -ms-flex-pack: stretch;
	        justify-content: stretch;
}
.header__menu ul li {
	position: relative;
}
.header__menu ul li a {
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	color: #495464;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.header__menu ul li.active:after {
	content: "";
	position: absolute;
	bottom: -18px;
	left: 0;
	display: inline-block;
	width: 103%;
	height: 9px;
	background: url("../img/menu-underline.svg") no-repeat;
	background-size: 100% 100%;
}
.header__menu ul li.active a {
	color: #2E1F3C;
}
.header__menu-close {
	position: absolute;
	top: 35px;
	right: 22px;
	display: none;
}
.header__btns {
	padding-top: 24px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 22px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.header__language {
	position: relative;
}
.header__language-btn {
	padding-right: 3px;
	width: 56px;
	height: 50px;
	font-family: "Caveat", cursive;
	font-size: 20px;
	line-height: 150%;
	font-weight: 700;
	letter-spacing: -0.03em;
	color: #2E1F3C;
	background: url("../img/language-btn-circle.svg") no-repeat;
	background-size: cover;
}
.header__language-content {
	position: absolute;
	top: 74px;
	left: -28px;
	padding: 14px 0 19px 0;
	width: 112px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	gap: 13px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	background: #FFFFFF;
	border: 5px solid #D7E2F1;
	-webkit-box-shadow: 10px 30px 20px rgba(0, 0, 0, 0.05);
	        box-shadow: 10px 30px 20px rgba(0, 0, 0, 0.05);
	border-radius: 20px;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	visibility: hidden;
	opacity: 0;
}
.header__language-content li a {
	font-size: 16px;
	line-height: 150%;
	color: #2E1F3C;
	font-weight: 700;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.header__language-content li.active a {
	color: #EE5646;
}
.header__language-content_open {
	visibility: visible;
	opacity: 1;
}
.header .purple-btn {
	width: 204px;
	font-size: 16px;
	line-height: 20px;
}
.header__socials {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 4px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.header__burger {
	width: 38px;
	height: 35px;
	background: url("../img/burger.svg") no-repeat;
	background-size: cover;
	display: none;
}

@media (hover: hover) {
	.header__menu ul li a:hover {
		color: #2E1F3C;
	}
	.header__language-content li a:hover {
		color: #EE5646;
	}
}
@media (max-width: 1300px) {
	.header__socials {
		display: none;
	}
}
@media (max-width: 1100px) {
	.header__menu ul {
		gap: 25px;
	}
	.header__btns {
		gap: 12px;
	}
}
@media (max-width: 991.5px) {
	.header__menu ul {
		gap: 20px;
	}
	.header__language-content {
		top: 64px;
		left: -7px;
		width: 70px;
	}
	.header .purple-btn {
		display: none;
	}
}
@media (max-width: 767.5px) {
	.header__menu {
		position: absolute;
		top: -450px;
		left: 0;
		z-index: 3;
		padding: 124.5px 0 97.5px 0;
		width: 100%;
		background: #FFFFFF;
		border: 5px solid #D7E2F1;
		-webkit-box-shadow: 10px 30px 20px rgba(0, 0, 0, 0.05);
		        box-shadow: 10px 30px 20px rgba(0, 0, 0, 0.05);
		border-radius: 0px 0px 20px 20px;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
		visibility: hidden;
	}
	.header__menu ul {
		padding-top: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		gap: 30px;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}
	.header__menu ul li a {
		font-size: 18px;
		line-height: 22px;
	}
	.header__menu ul li.active {
		padding-bottom: 14px;
	}
	.header__menu ul li.active:after {
		bottom: 0;
	}
	.header__menu-close {
		display: inline-block;
	}
	.header__menu_open {
		top: 0;
		visibility: visible;
	}
	.header__btns {
		gap: 20px;
	}
	.header__burger {
		display: inline-block;
	}
}
@media (max-width: 575.5px) {
	.header__container {
		height: 51px;
	}
	.header__btns {
		padding-top: 12px;
	}
	.header__language-btn {
		width: 34px;
		height: 30px;
		font-size: 14.5755px;
	}
	.header__language-content {
		top: 38px;
		width: 45px;
		padding: 11px 0 14px 0;
		gap: 8px;
	}
	.header__language-content li a {
		font-size: 14.5755px;
	}
	.header__burger {
		width: 24px;
		height: 22px;
	}
}
.main {
	position: relative;
	z-index: 2;
	padding: 99px 0 0 0;
}

@media (max-width: 575.5px) {
	.main {
		padding: 51px 0 0 0;
	}
}
.initial__container {
	max-width: 1920px;
	margin: 0 auto;
	position: relative;
}
.initial__content {
	position: relative;
	z-index: 2;
	padding: 152px 0 172px 0;
	text-align: center;
}
.initial__content > p {
	margin: 35px 0 41px 0;
	font-size: 30px;
	line-height: 150%;
	font-weight: 700;
	text-transform: uppercase;
	color: #495464;
}
.initial__btns {
	width: 388px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 26px 11px;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.initial__btns a {
	width: 188px;
	height: 58px;
	background: #EE5646;
	border-radius: 50px;
}
.initial__btns a:nth-child(1) img {
	height: 40.56px;
}
.initial__btns a:nth-child(2) img {
	height: 36.46px;
}
.initial__btns .purple-btn {
	width: 236px;
	height: 58px;
}
.initial__bg1, .initial__bg2 {
	position: absolute;
	z-index: 1;
}
.initial__bg1 {
	bottom: 65px;
	left: 48px;
	width: 43%;
}
.initial__bg2 {
	bottom: 0;
	right: 124px;
	width: 40%;
}

@media (max-width: 1400px) {
	.initial__bg1 {
		left: 0;
	}
	.initial__bg2 {
		right: 0;
		bottom: 40px;
	}
}
@media (max-width: 1200px) {
	.initial__content {
		padding: 100px 0 152px 0;
	}
}
@media (max-width: 991.5px) {
	.initial__content {
		padding: 60px 0 152px 0;
	}
	.initial__content > p {
		margin: 25px 0 31px 0;
		font-size: 28px;
	}
}
@media (max-width: 767.5px) {
	.initial__bg1 {
		bottom: 45px;
	}
	.initial__content {
		padding: 35px 0 152px 0;
	}
	.initial__content > p {
		margin: 10px 0 20px 0;
		font-size: 24px;
	}
}
@media (max-width: 575.5px) {
	.initial__container {
		overflow-x: hidden;
	}
	.initial__bg1 {
		bottom: auto;
		top: 12px;
		left: 50%;
		width: 219px;
		-webkit-transform: translate(-43%, 0);
		        transform: translate(-43%, 0);
	}
	.initial__bg2 {
		z-index: 3;
		right: calc(50% - 190px);
		bottom: 27px;
		width: 150px;
		pointer-events: none;
	}
	.initial__content {
		padding: 153px 0 63px 0;
		width: 100%;
		overflow-x: hidden;
	}
	.initial__content > p {
		margin: 10px 0 20px 0;
		font-size: 10px;
	}
	.initial__btns {
		gap: 5px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		width: 100%;
	}
	.initial__btns a,
.initial__btns .purple-btn {
		width: 280px;
		height: 45px;
	}
	.initial__btns a:nth-child(1) img {
		height: 33px;
	}
	.initial__btns a:nth-child(2) img {
		height: 30px;
	}
}
.orange-btn {
	height: 58px;
	font-size: 18px;
	line-height: 22px;
	font-weight: 600;
	color: #fff;
	background: #EE5646;
	border-radius: 100px;
}

@media (max-width: 575.5px) {
	.orange-btn {
		height: 45px;
		font-size: 16px;
		line-height: 20px;
	}
}
.popup-subscribe {
	padding: 40px 30px;
}
.popup-subscribe__container {
	padding: 0 30px;
	max-width: 990px;
	max-height: 620px;
}
.popup-subscribe__close-btn {
	position: absolute;
	top: 35px;
	right: 46px;
}
.popup-subscribe__content {
	max-width: 491px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.popup-subscribe__content h4 {
	text-align: center;
}
.popup-subscribe__content .orange-btn {
	width: 188px;
}
.popup-subscribe__input {
	margin: 40px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 38px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 100%;
}
.popup-subscribe__input span,
.popup-subscribe__input input {
	font-family: "Caveat", cursive;
	color: #2E1F3C;
	font-weight: 700;
}
.popup-subscribe__input span {
	font-size: 25px;
	line-height: 32px;
}
.popup-subscribe__input input {
	width: calc(100% - 57px - 38px);
	font-size: 25px;
	line-height: 40px;
	border-bottom: 2px solid rgba(46, 31, 60, 0.5);
}

.popup-subscribe.open {
	visibility: visible;
	opacity: 1;
}
.popup-subscribe.open .popup-subscribe__container {
	-webkit-transform: scale(1);
	        transform: scale(1);
}

@media (max-width: 991.5px) {
	.popup-subscribe__container {
		max-height: 550px;
	}
}
@media (max-width: 767.5px) {
	.popup-subscribe__container {
		max-height: 500px;
	}
	.popup-subscribe__content {
		max-width: 400px;
	}
	.popup-subscribe__input {
		margin: 30px 0;
	}
}
@media (max-width: 575.5px) {
	.popup-subscribe {
		padding: 40px 15px;
	}
	.popup-subscribe__container {
		padding: 0 15px;
		max-height: 380px;
	}
	.popup-subscribe__close-btn {
		top: 25px;
		right: 30px;
	}
	.popup-subscribe__content .orange-btn {
		width: 150px;
	}
	.popup-subscribe__input {
		gap: 15px;
	}
	.popup-subscribe__input span {
		font-size: 22px;
	}
	.popup-subscribe__input input {
		width: calc(100% - 50px - 15px);
		font-size: 22px;
	}
}
.popup-success {
	padding: 40px 30px;
}
.popup-success__container {
	padding: 0 30px;
	max-width: 686px;
	max-height: 455px;
}
.popup-success__close-btn {
	position: absolute;
	top: 35px;
	right: 60px;
}
.popup-success__content {
	max-width: 491px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	display: none;
}
.popup-success__content img {
	width: 104.49px;
	height: 104.52px;
}
.popup-success__content h4 {
	text-align: center;
}
.popup-success__content_subscribe h4 {
	margin-top: 44.24px;
}

.popup-success.open {
	visibility: visible;
	opacity: 1;
}
.popup-success.open .popup-success__container {
	-webkit-transform: scale(1);
	        transform: scale(1);
}

@media (max-width: 991.5px) {
	.popup-success__container {
		max-height: 420px;
	}
}
@media (max-width: 767.5px) {
	.popup-success__container {
		max-height: 390px;
	}
	.popup-success__content {
		max-width: 400px;
	}
	.popup-success__content img {
		width: 90px;
		height: 90px;
	}
	.popup-success__content_subscribe h4 {
		margin-top: 38px;
	}
}
@media (max-width: 575.5px) {
	.popup-success {
		padding: 40px 15px;
	}
	.popup-success__container {
		padding: 0 15px;
		max-height: 330px;
	}
	.popup-success__close-btn {
		top: 25px;
		right: 30px;
	}
	.popup-success__content {
		max-width: 350px;
	}
	.popup-success__content img {
		width: 75px;
		height: 75px;
	}
}
.text16x24 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	gap: 24px;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	font-size: 16px;
	line-height: 150%;
	color: #2E1F3C;
}

.hi__container {
	position: relative;
	max-width: 1515px;
	padding: 145px 20px 155px 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 0;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	margin: 0 auto;
}
.hi__image {
	position: absolute;
	top: 120px;
	left: 20px;
	width: 53.35%;
}
.hi__content {
	width: 50.1%;
	position: relative;
}
.hi__content h3 {
	text-align: center;
	margin-bottom: 25px;
}
.hi__block {
	min-height: 442px;
	padding: 30px;
	background: #FFFFFF;
	-webkit-box-shadow: 10px 30px 20px rgba(0, 0, 0, 0.05);
	        box-shadow: 10px 30px 20px rgba(0, 0, 0, 0.05);
	border-radius: 20px;
}
.hi__block .text16x24 {
	max-width: 598px;
}