// Reset CSS
@import "reset.scss";



// Variables
$Caveat: 'Caveat', cursive;
$Montserrat: 'Montserrat', sans-serif;

$anim: all 0.3s ease;



// Mixins
@mixin font ($fs, $lh) {
	font-size: $fs;
	line-height: $lh;
}

@mixin flex ($f, $fd, $g, $ai, $jc) {
	display: $f;
	flex-direction: $fd;
	gap: $g;
	align-items: $ai;
	justify-content: $jc;
}

@mixin modal-bg-shdw-brdr($br) {
	background: #FFFFFF;
	border: 5px solid #D7E2F1;
	box-shadow: 10px 30px 20px rgba(0, 0, 0, 0.05);
	border-radius: $br;
}

@mixin block($br) {
	background: #FFFFFF;
	box-shadow: 10px 30px 20px rgba(0, 0, 0, 0.05);
	border-radius: $br;
}

@mixin grid ($g, $gtc, $gap, $ai, $jc) {
	display: $g;
	grid-template-columns: $gtc;
	gap: $gap;
	align-items: $ai;
	justify-content: $jc;
}



%flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

%background {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	width: 100%;
	height: 100%;

	background: url("../img/bg.png");
	background-size: 100% auto;
	mix-blend-mode: color-burn;
	
	opacity: 0.07;
}

%cross {
	width: 24px;
	height: 24px;

	background: url("../img/cross.svg") no-repeat;
	background-size: cover;
}

%popup {
	position: fixed;
	z-index: 20;

	@extend %flex-center;
	width: 100%;
	height: 100%;

	background: rgba(0 , 0 , 0, 0.1);

	transition: $anim;

	visibility: hidden;
	opacity: 0;
}

%popup-container {
	position: relative;
	
	@extend %flex-center;
	width: 100%;
	height: 100%;

	@include modal-bg-shdw-brdr(60px);

	transition: $anim;

	transform: scale(0);
}



body {
	font-family: $Montserrat;

	background: #FFFBFB;
}

h1, h2, h3, h4, h5 {
	font-family: $Caveat;
	font-weight: 700;
}
h1, h2, h3, h5, h6 {
	color: #2E1F3C;
}
h1 {
	@include font(120px, 150%);
}
h2 {
	@include font(80px, 101px);
}
h3 {
	@include font(50px, 63px);
}
h4 {
	@include font(36px, 150%);
	color: #111827;
}
h5 {
	@include font(30px, 38px);
}
h6 {
	@include font(20px, 150%);
	font-weight: 700;
}

@media (max-width: 1200px) {
	h1 {
		font-size: 100px;
	}
	h2 {
		@include font(70px, 90px);
	}
}

@media (max-width: 991.5px) {
	h1 {
		font-size: 80px;
	}
	h2 {
		@include font(60px, 80px);
	}
	h3 {
		@include font(40px, 55px);
	}
}

@media (max-width: 767.5px) {
	h1 {
		font-size: 65px;
	}
	h2 {
		@include font(45px, 63px);
	}
	h3 {
		@include font(32px, 44px);
	}
	h4 {
		font-size: 30px;
	}
}

@media (max-width: 575.5px) {
	h1 {
		font-size: 44px;
	}
	h2 {
		@include font(35px, 44px);
	}
	h3 {
		@include font(25px, 32px);
	}
	h4 {
		font-size: 26px;
	}
}



.wrapper {
	position: relative;
}



.background {
	@extend %background;
}



.purple-btn,
.purple-circle-btn {
	height: 50px;
	@extend %flex-center;

	background: #535182;
	border-radius: 50px;
}
.purple-btn {
	@include font(18px, 22px);
	font-weight: 600;
	color: #FFF;
}
.purple-circle-btn {
	width: 50px;
}



.header {
	width: 100%;

	position: fixed;
	z-index: 10;

	background: #FFFBFB;

	&__background {
		@extend %background;
	}

	&__container {
		position: relative;
		z-index: 2;

		padding: 0 20px;
		max-width: 1458px;
		width: 100%;
		height: 99px;
		margin: 0 auto;

		@include flex(flex, row, 0, flex-start, space-between);
	}

	&__logo {
		height: 100%;
	}

	&__menu {

		ul {
			padding-top: 43px;
			@include flex(flex, row, 33px, flex-start, stretch);
		
			li {
				position: relative;

				a {
					@include font(16px, 20px);
					font-weight: 600;
					color: #495464;

					transition: $anim;
				}
			}

			li.active {

				&:after {
					content: "";

					position: absolute;
					bottom: -18px; // 9 + 9
					left: 0;

					display: inline-block;
					width: 103%;
					height: 9px;

					background: url("../img/menu-underline.svg") no-repeat;
					background-size: 100% 100%;
				}

				a {
					color: #2E1F3C;
				}
			}
		}

		&-close {
			position: absolute;
			top: 35px;
			right: 22px;

			@extend %cross;

			display: none;
		}	
	}

	&__btns {
		padding-top: 24px;
		@include flex(flex, row, 22px, center, space-between);
	}
	
	&__language {
		position: relative;

		&-btn {
			padding-right: 3px;
			width: 56px;
			height: 50px;
			@extend %flex-center;

			font-family: $Caveat;
			@include font(20px, 150%);
			font-weight: 700;
			letter-spacing: -0.03em;
			color: #2E1F3C;

			background: url("../img/language-btn-circle.svg") no-repeat;
			background-size: cover;
		}
		&-content {
			position: absolute;
			top: 74px;
			left: calc(((112px - 56px) / 2) * -1); // center

			padding: 14px 0 19px 0;
			width: 112px;
			@include flex(flex, column, 13px, center, flex-start);

			@include modal-bg-shdw-brdr(20px);

			transition: all 0.2s ease;

			visibility: hidden;
			opacity: 0;

			li {
				a {
					@include font(16px, 150%);
					color: #2E1F3C;
					font-weight: 700;

					transition: $anim;
				}
			}

			li.active {
				a {
					color: #EE5646;
				}
			}

			&_open {
				visibility: visible;
				opacity: 1;
			}
		}
	}

	.purple-btn {
		width: 204px;

		@include font(16px, 20px);
	}

	&__socials {
		@include flex(flex, row, 4px, center, flex-start);
	}

	&__burger {
		width: 38px;
		height: 35px;

		background: url("../img/burger.svg") no-repeat;
		background-size: cover;

		display: none;
	}
}

@media (hover: hover) {
	.header {
		&__menu {
			ul {
				li {
					a:hover {
						color: #2E1F3C;
					}
				}
			}
		}
		&__language {
			&-content {
				li {
					a:hover {
						color: #EE5646;
					}
				}
			}
		}
	}
}

@media (max-width: 1300px) {
	.header {
		&__socials {
			display: none;
		}
	}
}

@media (max-width: 1100px) {
	.header {
		&__menu {
			ul {
				gap: 25px;
			}
		}
		&__btns {
			gap: 12px;
		}
	}
}

@media (max-width: 991.5px) {
	.header {
		&__menu {
			ul {
				gap: 20px;
			}
		}
		&__language {
			&-content {
				top: 64px;
				left: -7px;

				width: 70px;
			}
		}
		.purple-btn {
			display: none;
		}
	}
}

@media (max-width: 767.5px) {
	.header {
		&__menu {
			position: absolute;
			top: -450px;
			left: 0;
			z-index: 3;

			padding: 124.5px 0 97.5px 0;
			width: 100%;

			@include modal-bg-shdw-brdr(0px 0px 20px 20px);

			transition: $anim;

			visibility: hidden;

			ul {
				padding-top: 0;
				@include flex(flex, column, 30px, center, flex-start);

				li {
					a {
						@include font(18px, 22px);
					}
				}
				li.active {
					padding-bottom: 14px;

					&:after {
						bottom: 0;
					}
				}
			}

			&-close {
				display: inline-block;
			}

			&_open {
				top: 0;

				visibility: visible;
			}
		}
		&__btns {
			gap: 20px;
		}
		&__burger {
			display: inline-block;
		}
	}
}

@media (max-width: 575.5px) {
	.header {
		&__container {
			height: 51px;
		}

		&__btns {
			padding-top: 12px;
		}

		&__language {

			&-btn {
				width: 34px;
				height: 30px;

				font-size: 14.5755px;
			}

			&-content {
				top: 38px;
				width: 45px;

				padding: 11px 0 14px 0;
				gap: 8px;

				li {
					a {
						font-size: 14.5755px;
					}
				}
			}
		}

		&__burger {
			width: 24px;
			height: 22px;
		}
	}
}



.main {
	position: relative;
	z-index: 2;

	padding: 99px 0 0 0;
}

@media (max-width: 575.5px) {
	.main {
		padding: 51px 0 0 0;
	}
}



.initial {

	&__container {
		max-width: 1920px;
		margin: 0 auto;

		position: relative;
	}
	&__content {
		position: relative;
		z-index: 2;

		padding: 152px 0 172px 0;

		text-align: center;

		& > p {
			margin: 35px 0 41px 0;

			@include font(30px, 150%);
			font-weight: 700;
			text-transform: uppercase;
			color: #495464;
		}
	}
	&__btns {
		width: 388px;
		@include flex(inline-flex, row, 26px 11px, flex-start, center);
		flex-wrap: wrap;

		a {
			width: 188px;
			height: 58px;
			@extend %flex-center;

			background: #EE5646;
			border-radius: 50px;
		}

		a:nth-child(1) {
			img {
				height: 40.56px;
			}
		}

		a:nth-child(2) {
			img {
				height: 36.46px;
			}
		}

		.purple-btn {
			width: 236px;
			height: 58px;
		}
	}

	&__bg1,
	&__bg2 {
		position: absolute;
		z-index: 1;
	}

	&__bg1 {
		bottom: 65px;
		left: 48px;

		width: 43%;
	}

	&__bg2 {
		bottom: 0;
		right: 124px;

		width: 40%;
	}
}

@media (max-width: 1400px) {
	.initial {
		&__bg1 {
			left: 0;
		}
		&__bg2 {
			right: 0;
			bottom: 40px;
		}
	}
}

@media (max-width: 1200px) {
	.initial {
		&__content {
			padding: 100px 0 152px 0;
		}
	}
}

@media (max-width: 991.5px) {
	.initial {
		&__content {
			padding: 60px 0 152px 0;

			& > p {
				margin: 25px 0 31px 0;

				font-size: 28px;
			}
		}
	}
}

@media (max-width: 767.5px) {
	.initial {
		&__bg1 {
			bottom: 45px;
		}
		&__content {
			padding: 35px 0 152px 0;

			& > p {
				margin: 10px 0 20px 0;

				font-size: 24px;
			}
		}
	}
}

@media (max-width: 575.5px) {
	.initial {
		&__container {
			overflow-x: hidden;
		}

		&__bg1 {
			bottom: auto;
			top: 12px;
			left: 50%;
			//width: 68.8%;
			width: 219px;

			transform: translate(-43%, 0);
		}
		&__bg2 {
			z-index: 3;
			right: calc(50% - 190px);
			bottom: 27px;

			width: 150px;

			pointer-events: none;
		}
		&__content {
			padding: 153px 0 63px 0;
			width: 100%;

			overflow-x: hidden;

			& > p {
				margin: 10px 0 20px 0;

				font-size: 10px;
			}
		}
		&__btns {
			gap: 5px;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			width: 100%;

			a,
			.purple-btn {
				width: 280px;
				height: 45px;
			}

			a:nth-child(1) {
				img {
					height: 33px;
				}
			}

			a:nth-child(2) {
				img {
					height: 30px;
				}
			}
		}
	}
}



.orange-btn {
	@extend %flex-center;
	height: 58px;

	@include font(18px, 22px);
	font-weight: 600;
	color: #fff;

	background: #EE5646;
	border-radius: 100px;
}

@media (max-width: 575.5px) {
	.orange-btn {
		height: 45px;

		@include font(16px, 20px);
	}
}



.popup-subscribe {
	padding: 40px 30px;

	@extend %popup;

	&__container {
		padding: 0 30px;
		max-width: 990px;
		max-height: 620px;

		@extend %popup-container;
	}
	&__close-btn {
		position: absolute;
		top: 35px;
		right: 46px;

		@extend %cross;
	}
	&__content {
		max-width: 491px;
		@extend %flex-center;
		flex-direction: column;

		h4 {
			text-align: center;
		}

		.orange-btn {
			width: 188px;
		}
	}
	&__input {
		margin: 40px 0;

		@include flex(flex, row, 38px, center, center);
		width: 100%;

		span,
		input {
			font-family: $Caveat;
			color: #2E1F3C;
			font-weight: 700;
		}

		span {
			@include font(25px, 32px);
		}

		input {
			width: calc(100% - 57px - 38px);

			@include font(25px, 40px);

			border-bottom: 2px solid rgba(46, 31, 60, 0.5);
		}
	}
}
.popup-subscribe.open {
	visibility: visible;
	opacity: 1;

	.popup-subscribe__container {
		transform: scale(1);
	}
}

@media (max-width: 991.5px) {
	.popup-subscribe {
		&__container {
			max-height: 550px;
		}
	}
}

@media (max-width: 767.5px) {
	.popup-subscribe {

		&__container {
			max-height: 500px;
		}
		&__content {
			max-width: 400px;
		}
		&__input {
			margin: 30px 0;
		}
	}
}

@media (max-width: 575.5px) {
	.popup-subscribe {
		padding: 40px 15px;

		&__container {
			padding: 0 15px;
			max-height: 380px;
		}
		&__close-btn {
			top: 25px;
			right: 30px;
		}
		&__content {

			.orange-btn {
				width: 150px;
			}
		}
		&__input {
			gap: 15px;

			span {
				font-size: 22px;
			}

			input {
				width: calc(100% - 50px - 15px);

				font-size: 22px;
			}
		}
	}
}



.popup-success {
	padding: 40px 30px;

	@extend %popup;

	&__container {
		padding: 0 30px;
		max-width: 686px;
		max-height: 455px;

		@extend %popup-container;
	}
	&__close-btn {
		position: absolute;
		top: 35px;
		right: 60px;

		@extend %cross;
	}
	&__content {
		max-width: 491px;
		@extend %flex-center;
		flex-direction: column;

		img {
			width: 104.49px;
			height: 104.52px;
		}

		h4 {
			text-align: center;
		}

		display: none;

		&_subscribe {
			h4 {
				margin-top: 44.24px;
			}
		}
		&_message {
			h4 {
				margin: 24.24px 0 23px 0;
			}

			p {
				@include font(16px, 150%);
				color: #2E1F3C;
				font-weight: 500;
				text-align: center;
			}
		}
	}
}
.popup-success.open {
	visibility: visible;
	opacity: 1;

	.popup-success__container {
		transform: scale(1);
	}
}

@media (max-width: 991.5px) {
	.popup-success {
		&__container {
			max-height: 420px;
		}
	}
}

@media (max-width: 767.5px) {
	.popup-success {
		&__container {
			max-height: 390px;
		}
		&__content {
			max-width: 400px;

			img {
				width: 90px;
				height: 90px;
			}

			&_subscribe {
				h4 {
					margin-top: 38px;
				}
			}
		}
	}
}

@media (max-width: 575.5px) {
	.popup-success {
		padding: 40px 15px;

		&__container {
			padding: 0 15px;
			max-height: 330px;
		}
		&__close-btn {
			top: 25px;
			right: 30px;
		}
		&__content {
			max-width: 350px;

			img {
				width: 75px;
				height: 75px;
			}
		}
	}
}



.text16x24 {
	@include flex(flex, column, 24px, stretch, flex-start);

	@include font(16px, 150%);
	color: #2E1F3C;
}



.hi {

	&__container {
		position: relative;

		max-width: 1515px;
		padding: 145px 20px 155px 20px;
		@include flex(flex, column, 0, flex-end, flex-start);
		margin: 0 auto;

		overflow-x: hidden;
	}
	&__image {
		position: absolute;
		top: 120px;
		left: 20px; 

		width: 53.35%;
	}
	&__content {
		width: 50.1%;
		position: relative;

		h3 {
			text-align: center;
			margin-bottom: 25px;
		}
	}
	&__block {
		position: relative;

		min-height: 442px;
		padding: 40px 30px;
		@extend %flex-center;

		@include block(20px);

		.text16x24 {
			max-width: 598px;
		}

		&:after {
			content: "";

			position: absolute;
			right: -40px;
			top: -70px;

			display: inline-block;
			width: 145px;
			height: 145px;

			background: url("../img/needle.png") no-repeat;
			background-size: cover;
		}
	}
}

@media (max-width: 1199.5px) {
	.hi {

		&__container {
			padding: 125px 20px 130px 20px;
		}
		&__image {
			top: 200px;
			width: 42%;
		}
		&__content {
			width: 60%;
		}
		&__block {

			&:after {
				right: -35px;
				top: -65px;

				width: 130px;
				height: 130px;
			}
		}
	}
}

@media (max-width: 991.5px) {
	.hi {

		&__container {
			padding: 80px 20px 100px 20px;
		}
		&__image {
			top: 240px;
			width: 39%;
			left: 0;
		}
		&__content {
			width: 65%;

			h3 {
				margin-bottom: 15px;
			}
		}
	}
}

@media (max-width: 767.5px) {
	.hi {

		&__container {
			padding: 20px 20px 80px 20px;
			align-items: center;
		}
		&__image {
			position: relative;
			top: auto;
			left: auto;
			width: calc(100% + 40px);
			max-width: 500px;
		}
		&__content {
			width: 100%;
		}
	}
}


@media (max-width: 575.5px) {
	.hi {
		&__container {
			padding: 0 20px 80px 20px;
		}

		&__image {
			left: -8px;
		}

		&__block {
			padding: 20px;


			&:after {
				right: -28px;
				top: 15px;

				width: 80px;
				height: 80px;
			}
		}
	}
}



.video-history {

	&__container {
		margin: 0 auto;
		padding: 0 20px;
		max-width: 1173px;
	}
	&__video {
		position: relative;
		z-index: 2;

		width: 1133px;
		height: 498.77px;
		margin: 0 auto;

		border: 20.2547px solid #241731;
		box-shadow: inset 0px 5.06369px 5.06369px rgba(0, 0, 0, 0.1);
		border-radius: 88.6145px;
		filter: drop-shadow(0px 25.3184px 25.3184px rgba(0, 0, 0, 0.1));

		overflow: hidden;

		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		button {
			position: absolute;
			top: 0;
			left: 0;

			padding-bottom: 72.5px;
			width: 100%;
			height: 100%;
			@include flex(flex, column, 10px, center, flex-end);

			background: rgba(0, 0, 0, 0.3);
			backdrop-filter: blur(12.6592px);

			transition: all 0.2s ease;

			img {
				width: 180px;
			}

			span {
				font-family: $Caveat;
				@include font(55px, 69px);
				font-weight: 700;
				color: #FFFFFF;
			}
		}
	}
	&__block {
		position: relative;
		z-index: 1;

		width: calc(100% - 68px);
		padding: 152px 0 42px 0;
		margin: -100px auto 0 auto;

		@include block(20px);
		
		h3 {
			margin: 0 auto;
			max-width: 856px;
			text-align: center;
		}
	}
}

@media (max-width: 1400px) {
	.video-history {
		&__container {
			max-width: 940px;
		}
		&__video {
			width: 900px;
			height: 396.20px;

			border: 17px solid #241731;
			border-radius: 75px;

			button {
				padding-bottom: 35px;
			}
		}
		&__block {
			h3 {
				max-width: 750px;
			}
		}
	}
}

@media (max-width: 1100px) {
	.video-history {
		&__container {
			max-width: 740px;
		}
		&__video {
			width: 700px;
			height: 308px;

			border: 13px solid #241731;
			border-radius: 65px;

			button {
				padding-bottom: 35px;

				img {
					width: 110px
				}
				span {
					@include font(40px, 49px);
				}
			}
		}
		&__block {
			margin: -120px auto 0 auto;
		}
	}
}

@media (max-width: 767.5px) {
	.video-history {
		&__container {
			max-width: 575px;
		}
		&__video {
			width: 535px;
			height: 235.5px;

			border: 10.25px solid #241731;
			border-radius: 50px;

			button {
				padding-bottom: 25px;

				img {
					width: 80px;
				}
				span {
					@include font(35px, 44px);
				}
			}
		}
		&__block {
			padding: 152px 0 40px 0;
		}
	}
}

@media (max-width: 575.5px) {
	.video-history {
		&__container {
			max-width: 390px;
		}
		&__video {
			width: 350px;
			height: 220px;

			border-radius: 35px;

			button {
				@include flex(flex, row, 13px, center, center);

				padding-bottom: 0;

				img {
					width: 45px;
				}
			}
		}
		&__block {
			width: 100%;
			padding: 152px 20px 40px 20px;
		}
	}
}

@media (max-width: 390.5px) {
	.video-history {
		&__container {
			max-width: 320px;
		}
		&__video {
			width: 280px;
			height: 169px;

			border-radius: 20px;
		}
	}
}



.subscribe {

	&__container {
		position: relative;

		max-width: 1324px;
		margin: 0 auto;
	}
	&__content {
		position: relative;
		z-index: 2;

		padding: 130px 0;
		@include flex(flex, column, 0, center, flex-start);

		
		h2 {
							max-width: 1000px;
			text-align: center;
		}

		.purple-btn {
			margin: 23.25px 0 26px 0;

			width: 188px;
			height: 58px;
		}
	}
	&__btns {
		width: 388px;
		@include flex(inline-flex, row, 5px 11px, flex-start, center);
		flex-wrap: wrap;

		a {
			width: 188px;
			height: 58px;
			@extend %flex-center;

			border-radius: 50px;
			border: 2px solid #EE5646;

			img:nth-child(1) {
				display: none;
			}
		}
		a:nth-child(1) {
			img {
				height: 40.56px;
			}
		}

		a:nth-child(2) {
			img {
				height: 36.46px;
			}
		}
	}
	&__download-txt {
		margin-top: 17.75px;
		width: 234px;
	}

	&__bg1,
	&__bg2 {
		position: absolute;
		z-index: 1;
	}
	&__bg1 {
		bottom: 140px;
		left: 0px;

		width: 23.89%;
	}
	&__bg2 {
		bottom: 130px;
		right: 0;

		width: 18.50%;
	}
}

@media (max-width: 1200px) {
	.subscribe {

		&__content {
			padding: 115px 0;

			h2 {
				max-width: 900px;
			}
		}
		&__bg1 {
			bottom: 125px;
		}
		&__bg2 {
			bottom: 115px;
		}
	}
}

@media (max-width: 991.5px) {
	.subscribe {

		&__content {
			padding: 100px 0;

			h2 {
				max-width: 750px;
			}
		}
		&__bg1 {
			bottom: 115px;
		}
		&__bg2 {
			bottom: 100px;
		}
	}
}

@media (max-width: 767.5px) {
	.subscribe {

		&__content {
			padding: 90px 0;

			h2 {
				max-width: 550px;
			}
		}
		&__bg1 {
			bottom: 20px;
			left: 20px;
		}
		&__bg2 {
			bottom: 35px;
		}
	}
}

@media (max-width: 575.5px) {
	.subscribe {

		&__content {
			padding: 80px 0 120px 0;

			h2 {
				max-width: 450px;
				padding: 0 20px;
			}

			.purple-btn {
				margin: 30px 0 5px 0;

				width: 280px;
				height: 45px;
			}
		}
		&__btns {
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			width: 100%;

			a {
				background: #EE5646;
				width: 280px;
				height: 45px;

				img:nth-child(1) {
					display: flex;
				}
				img:nth-child(2) {
					display: none;
				}
			}
			a:nth-child(1) {
				img {
					height: 33px;
				}
			}
			a:nth-child(2) {
				img {
					height: 30px;
				}
			}
		}
		&__download-txt {
			margin-top: 52px;
			width: 147.39px;
		}
		&__bg1 {
			bottom: 86.64px;
			left: 4px;

			width: 23.75%;

			transform: rotate(180deg);
		}
		&__bg2 {
			bottom: 80px;
			right: 4px;

			width: 28.125%;
		}
	}
}



.what-to-do {

	&__container {
		max-width: 1440px;
		width: 100%;
		padding: 0 20px;
		margin: 0 auto;

		h2 {
			text-align: center;
		}
	}
	&__subtitle {
		margin: 41px 0 20px 0;

		font-family: $Caveat;
		@include font(55px, 69px);
		font-weight: 700;
		color: #2E1F3C;
	}
	&__content {
		position: relative;
		z-index: 2;

		@include flex(flex, row, 0, flex-start, space);
	}
	&__items {
		width: 100%;
		@include flex(flex, row, 24px, stretch, stretch);
	}
	&__item {
		width: 22.619047%;
		padding: 45px 27px;
		min-height: 256px;

		border: 5px solid #D7E2F1;
		border-radius: 24px;

		span {
			@include font(60px, 76px);
			color: #EE5646;
			letter-spacing: 0.5px;
			font-weight: 700;
		}

		p {
			margin-top: 16px;

			@include font(20px, 32px);
			font-weight: 500;
			color: #495464;
		}
	}
	&__text-btn {
		padding-left: 52px;
		width: 26.9285714%;
		@include flex(flex, column, 24px, flex-start, center);

		p {
			@include font(16px, 150%);
			color: #495464;
		}

		.purple-btn {
			width: 100%;
			max-width: 260px;
			height: 58px;
		}
	}
	&__cup-image {
		position: relative;
		z-index: 1;

		text-align: center;

		img {
			width: 54.38714285%;
			margin-top: -22px;
		}
	}
}

@media (max-width: 1100px) {
	.what-to-do {
		&__item {
			padding: 38px 20px;
		}
		&__text-btn {
			padding-left: 20px;
		}
	}
}

@media (max-width: 991.5px) {
	.what-to-do {
		&__container {
			max-width: 820px;
		}
		&__subtitle {
			margin: 35px 0 20px 0;
			@include font(45px, 58px);
		}
		&__items {
			flex-wrap: wrap;
		}
		&__item, &__text-btn {
			width: calc(50% - 12px);
		}
		&__item {
			padding: 45px 27px;
		}
		&__text-btn {
			padding: 0 40px;
		}
		&__cup-image {
			img {
				width: 60%;
			}
		}
	}
}

@media (max-width: 767.5px) {
	.what-to-do {
		&__subtitle {
			margin: 10px 0 14px 0;
			@include font(35px, 45px);
		}
		&__item {
			padding: 25px 15px;
			min-height: 200px;

			span {
				@include font(45px, 57px);
			}
		}
		&__text-btn {
			padding: 0 10px;
		}
		&__cup-image {
			img {
				margin-top: 0;
				width: 65%;
			}
		}
	}
}

@media (max-width: 575.5px) {
	.what-to-do {
		&__container {
			max-width: 380px;
		}
		&__subtitle {
			margin: 15px 0 14px 0;
			@include font(25px, 32px);
			
			text-align: center;
		}
		&__items {
			gap: 10px;
		}
		&__item, &__text-btn {
			width: 100%;
		}
		&__item {
			padding: 27px 29px;
			min-height: auto;

			border: 3px solid #D7E2F1;

			span {
				@include font(30px, 76px);
			}

			p {
				@include font(16px, 32px);
			}
		}
		&__text-btn {
			padding: 10px 0 0 0;
			gap: 15px;

			.purple-btn {
				max-width: none;
				height: 45px;
			}
		}
		&__cup-image {
			padding-top: 10px;

			img {
				width: 319px;
			}
		}
	}
}

@media (max-width: 360px) {
	.what-to-do {
		&__cup-image {
			overflow: hidden;

			img {
				margin-left: -20px;
			}
		}
	}
}



.footer {
	position: relative;
	z-index: 2;

	background: #535182;
	mix-blend-mode: multiply;

	overflow: hidden;

	&__container {
		max-width: 1450px;
		padding: 0 20px;
		margin: 0 auto;
	}
	&__content {
		padding: 85px 0 55px 0;
		@include grid(grid, 22.83687943262411% 28.22695035460993% 48.93617021276596%, 0, start, stretch);
		grid-template-rows: auto auto 1fr;
	}
	&__logo {
		padding: 15px 40px 0 0;
		grid-column: 1/3;

		img {
			max-width: 436px;
			width: 100%;
		}
	}
	&__form {
		position: relative;

		grid-column: 3/4;
		grid-row: 1/4;
		padding: 57px 40px 43.78px 40px;
		@include flex (flex, column, 0, center, flex-start);

		background: rgba(255, 255, 255, 0.1);
		box-shadow: 10px 30px 20px rgba(0, 0, 0, 0.05);
		border-radius: 20px;

		h3 {
			color: #fff;
			text-align: center;
		}

		.orange-btn {
			width: 188px;
			margin: 0 auto;
		}

		&:after {
			content: "";

			position: absolute;
			top: -8px;
			right: -17px;

			display: inline-block;
			width: 152px;
			height: 152px;

			background: url("../img/needle.png") no-repeat;
			background-size: cover;
		}
	}
	&__inputs {
		max-width: calc(504px + 54px);
		width: 100%;
		padding-right: 54px;
		margin: 53px 0 22px 0;
		@include flex (flex, column, 22px, flex-end, flex-start);
	}
	&__input {
		@include flex (flex, row, 38px, center, flex-end);
		width: 100%;

		span,
		input {
			font-family: $Caveat;
			@include font(25px, 32px);
			font-weight: 700;
			color: #FFF;
		}

		input {
			width: calc(100% - 72px - 38px);

			line-height: 40px;
			font-weight: 600;

			background: transparent;
			border-bottom: 2px solid rgba(255, 255, 255, 0.5);
		}
	}

	&__socials {
		padding-top: 85px;
	}
	&__min-title {
		display: block;

		@include font(16px, 150%);
		letter-spacing: -0.02em;
		color: #FFFFFF;

		mix-blend-mode: normal;
		opacity: 0.5;
	}
	&__socials-items {
		margin-top: 17px;
		@include flex (inline-flex, row, 18px, center, stretch);

		a {
			width: 40px;
			height: 40px;
			@extend %flex-center;

			border-radius: 40px;
			background: #8887AA;

			img {
				width: 24px;
				height: 24px;
			}
		}
	}
	&__email {
		padding: 85px 40px 0 0;

		p {
			display: inline-block;

			margin-top: 16px;
			padding-bottom: 13px;

			@include font(18px, 22px);
			color: #FFFFFF;
			font-weight: 600;

			border-bottom: 2px solid rgba(255, 255, 255, 0.5);
		}
	}
	&__menu {
		grid-column: 1/3;
		padding: 66px 40px 0 0;

		ul {
			@include flex(flex, row, 0, center, space-between);
			max-width: 630px;

			li {

				a {
					@include font(18px, 120%);
					letter-spacing: -0.01em;
					font-weight: 600;
					color: #FFFFFF;

					mix-blend-mode: normal;
				}
			}
		}
	}
	&__rights {
		border-top: 3px solid rgba(255, 255, 255, 0.1);
		padding: 33px 0 40px 0;

		@include flex(flex, row, 0, center, space-between);

		p, div a {
			@include font(16px, 150%);
			font-weight: 300;
			letter-spacing: -0.02em;
			color: #FFFFFF;

			mix-blend-mode: normal;
		}

		div {
			@include flex(flex, row, 60px, center, stretch);
		}
	}
}

@media (max-width: 1400px) {
	.footer {
		&__rights {
			position: relative;
			left: -20px;

			padding: 33px 20px 40px 20px;
			width: calc(100% + 40px);
		}
	}
}

@media (max-width: 1200px) {
	.footer {

		&__content {
			grid-template-columns: 26% 32% 42%;
		}
		&__logo {
			padding: 40px 40px 0 0;

			img {
				max-width: 380px;
			}
		}
		&__form {
			padding: 57px 33px 43.78px 33px;

			&:after {
				top: -50px;
				right: -35px;
				
				width: 130px;
				height: 130px;
			}
		}
		&__inputs {
			padding-right: 0;
		}
		&__input {
			gap: 25px;

			input {
				width: calc(100% - 72px - 25px);
			}
		}
	}
}

@media (max-width: 991.5px) {
	.footer {
		&__content {
			padding: 65px 0 45px 0;
			grid-template-columns: 55% 45%;
			grid-template-rows: auto auto auto 1fr;
		}
		&__logo {
			grid-column: 1/2;

			img {
				max-width: 290px;
			}
		}
		&__form {
			grid-column: 2/3;
			grid-row: 1/5;
			padding: 45px 20px 35px 20px;

			&:after {
				top: -45px;
				right: -30px;
				
				width: 110px;
				height: 110px;
			}
		}
		&__input {
			@include flex(flex, column, 0, stretch, flex-start);

			input {
				width: 100%;
			}
		}
		&__socials {
			padding-top: 60px;
		}
		&__email {
			padding: 60px 40px 0 0;
		}
		&__menu {
			padding: 60px 40px 0 0;
			grid-column: 1/2;

			ul {
				gap: 30px 35px;
				flex-wrap: wrap;
				justify-content: stretch;

				li:nth-child(1),
				li:nth-child(3) {
					width: 50%;
				}
				li:nth-child(2),
				li:nth-child(4) {
					width: calc(50% - 35px);
				}
			}
		}
		&__rights {
			div {
				gap: 40px;
			}
		}
	}
}

@media (max-width: 767.5px) {
	.footer {
		&__content {
			padding: 50px 0 38px 0;
			grid-template-columns: 100%;
			grid-template-rows: auto auto auto auto auto;
		}
		&__logo {
			padding: 0 0 45px 0;
			text-align: center;

			img {
				max-width: 250px;
			}
		}
		&__form {
			grid-column: 1/2;
			grid-row: 2/3;
			padding: 35px 45px 25px 45px;
		}
		&__inputs {
			margin: 28px 0 24px 0;
		}

		&__menu {
			grid-row: 3/4;
			padding: 65px 40px 0 40px;
		}
		&__email {
			grid-row: 4/5;
			padding: 60px 0 0 0;

			text-align: center;
		}
		&__socials {
			text-align: center;
		}
		&__rights {
			flex-direction: column;
			justify-content: flex-start;
			gap: 35px;

			div {
				gap: 60px;
			}
		}
	}
}

@media (max-width: 575.5px) {
	.footer {

		&__content {
			padding: 25px 0 30px 0;
		}
		&__logo {
			padding: 0 0 35px 0;

			img {
				max-width: 180px;
			}			
		}
		&__form {
			padding: 25px 15px;

			.orange-btn {
				height: 45px;
				width: 100%;
			}

			&:after {
				top: -44px;
				right: -20px;
				
				width: 93px;
				height: 93px;
			}
		}
		&__inputs {
			gap: 24px;
		}
		&__input {
			span,
			input {
				@include font(18px, 23px);
			}

			input {
				line-height: 29px;
			}
		}
		&__menu {
			padding: 73px 0 0 0;

			ul {
				gap: 40px;

				li:nth-child(1n) {
					width: 100%;

					text-align: center;
				}
			}
		}
		&__email {
			padding: 40px 0 0 0;
		}
		&__socials {
			padding: 40px 0 0 0;
		}
		&__socials-items {
			gap: 20px;
		}
		&__rights {
			padding: 15px 20px;
			text-align: center;
			gap: 15px;

			& > p {
				@include font(12px, 18px);
			}

			div {
				flex-direction: column;
				gap: 15px;
			}
		}
	}
}



.about-authors {
	overflow: hidden;

	&__container {
		max-width: 1450px;
		width: 100%;
		padding: 50px 20px 0 20px;
		margin: 0 auto;

		h1 {
			margin-bottom: 15px;

			text-align: center;
		}
	}
	&__items {
		padding: 70px 0;
	}
	&__item {
		position: relative;

		&-image {
			position: relative;
			left: -69px;

			width: 53.90%;
			padding-top: 40%;

			font-size: 565px;

			background: url("../img/about-author__bg.png") no-repeat;
			background-size: 100% 100%;

			transform: rotate(-13.32deg);

			span {
				position: absolute;
				top: 6.4%;
				right: 34.5%;

				font-family: $Caveat;
				@include font(4.39809%, 124.75%);
				font-weight: 700;
				text-transform: uppercase;
				color: #ED6B60;
			}
			img {
				position: absolute;
				top: 14.5%;
				right: 9.5%;

				width: 73%;
				height: 64%;

				object-fit: cover;
			}
		}
		&-content {
			position: absolute;
			right: 0;
			top: 45%;

			width: 52.41%;

			transform: translate(0, -50%);

			h3 {
				padding-left: 50px;
				margin-bottom: 25.25px;
			}
		}
		&-block {
			position: relative;

			padding: 55px 30px 50px 30px;
			@extend %flex-center;

			@include block(20px);

			&:after {
				content: "";

				position: absolute;
				top: -73px;
				right: -32px;

				display: inline-block;
				width: 152px;
				height: 152px;

				background: url("../img/needle.png") no-repeat;
				background-size: cover;
			}

			.text16x24 {
				max-width: 598px;
			}
		}
	}
	&__item:nth-child(2) {
		.about-authors__item-image {
			left: -30px;

			margin-left: auto;

			transform: rotate(13.32deg);

			span {
				right: 41%;
			}
		}
		.about-authors__item-content {
			right: auto;
			left: 0;
		}
	}	
}

@media (max-width: 1500px) {
	.about-authors {
		&__item {
			&-image {
				left: -25px;
			}
		}
	}
}

@media (max-width: 1400px) {
	.about-authors {
		&__container {
			padding: 40px 20px 0 20px;
		}
		&__items {
			padding: 20px 0 50px;
		}
		&__item {
			&-content {
				h3 {
					padding-left: 40px;
					margin-bottom: 20px;
				}
			}
		}
		&__item:nth-child(2) {
			padding: 90px 0;
		}
	}
}

@media (max-width: 1300px) {
	.about-authors {
		&__item {
			&-image {
				font-size: 490px;
			}
		}
	}
}

@media (max-width: 1160px) {
	.about-authors {
		&__item {
			&-image {
				font-size: 440px;
			}
		}
	}
}

@media (max-width: 1040px) {
	.about-authors {
		&__item {
			&-image {
				font-size: 390px;
			}
		}
	}
}

@media (max-width: 991.5px) {
	.about-authors {

		&__items {
			padding: 20px 0 110px;
		}
		&__item {
			&-content {
				h3 {
					padding-left: 30px;
					margin-bottom: 0;
				}
			}
			&-block {
				padding: 40px 25px 40px 25px;

				&:after {
					top: -45px;
					right: -20px;

					width: 100px;
					height: 100px;
				}
					
			}
		}
		&__item:nth-child(2) {
			padding: 150px 0 210px 0;
		}
	}
}

@media (max-width: 914px) {
	.about-authors {
		&__item {
			&-image {
				font-size: 340px;
			}
		}
	}
}

@media (max-width: 800px) {
	.about-authors {
		&__item {
			&-image {
				font-size: 295px;
			}
		}
	}
}

@media (max-width: 767.5px) {
	.about-authors {

		&__items {
			padding: 10px 0 80px;
		}
		&__item {
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0;
			}

			&-image {
				left: 0;

				max-width: 500px;
				width: 100%;
				padding-top: 374px;
				margin: 0 auto;

				font-size: 374px;

				transform: translate(-4%, 0);
			}
			&-content {
				position: relative;
				top: 0;
				right: 0;

				width: 100%;
				max-width: 600px;
				margin: -25px auto 0 auto;

				transform: translate(0);

				h3 {
					padding-left: 0;

					text-align: center;
					@include font(35px, 44px);
				}
			}
		}
		&__item:nth-child(2) {
			padding: 0;

			.about-authors__item-image {
				left: 0;
				margin: 0 auto;

				transform: rotate(0deg);
			}
			.about-authors__item-content {
				left: 0;
			}
		}
	}
}

@media (max-width: 575.5px) {
	.about-authors {

		&__container {

			h1 {
				margin-bottom: 0;

				@include font(55px, 150%);
			}
		}
		&__items {
			padding: 8.2px 0 70px;
		}
		&__item {
			margin-bottom: 13.18px;

			&-image {
				max-width: none;
				padding-top: 74.3%;
			}
			&-block {
				padding: 30px 20px;

				&:after {
					top: -12px;
					right: -35px;

					width: 90px;
					height: 90px;
				}
			}
		}
	}
}

@media (max-width: 500px) {
	.about-authors {
		&__item {
			&-image {
				font-size: 330px;
			}
		}
	}
}

@media (max-width: 450px) {
	.about-authors {
		&__item {
			&-image {
				font-size: 300px;
			}
		}
	}
}

@media (max-width: 400px) {
	.about-authors {
		&__item {
			&-image {
				font-size: 260px;
			}
		}
	}
}

@media (max-width: 360px) {
	.about-authors {
		&__item {
			&-image {
				font-size: 230px;
			}
		}
	}
}



.team {

	&__container {
		max-width: 1416px;
		padding: 0 20px 130px 20px;
		width: 100%;
		margin: 0 auto;

		h2, & > p {
			text-align: center;
		}

		& > p {
			margin: 4px 0 60px 0;
			@include font(16px, 150%);
			font-weight: 500;
			color: #2E1F3C;
		}
	}
	&__item {
		width: 239.12px;

		&-photo {
			width: 239.12px;
			height: 255.3px;
			padding: 35px 0 0 27.14px;

			background: url("../img/team__bg.png") no-repeat;
			background-size: cover;

			img {
				width: 182px;
				height: 189px;

				border-radius: 5px;

				object-fit: cover;
			}
		}

		h5, p {
			text-align: center;
		}

		h5 {
			margin: 10px 0;
		}

		p {
			@include font(16px, 150%);
			color: #495464;
		}
	}
	&__items-btns {
		margin-top: 45px;

		@include flex(flex, row, 80px, flex-start, center);
	}
	&__items-btn-prev,
	&__items-btn-next {
		width: 24px;
		height: 23.35px;

		background: url("../img/swiper-nav-arrow.svg") no-repeat;
		background-size: cover;
	}
	&__items-btn-prev {
		transform: rotate(180deg);
	}
}

@media (min-width: 575.6px) {
	.team {
		&__items-wrapper {
			@include flex(flex, row, 50px 15px, flex-start, space-around);
			flex-wrap: wrap;
		}
		&__items-btn-prev,
		&__items-btn-next {
			display: none;
		}
	}
}

@media (min-width: 1300px) {
	.team {
		&__items-wrapper {
			justify-content: space-between;
		}
	}
}

@media (max-width: 991.5px) {
	.team {
		&__container {
			padding: 0 20px 100px 20px;
		}
	}
}

@media (max-width: 767.5px) {
	.team {
		&__container {
			padding: 0 20px 85px 20px;
		}
	}
}

@media (max-width: 575.5px) {
	.team {
		&__container {
			padding: 0 0 70px 0;

			& > p {
				margin: 10.5px 0 30px 0;
			}
		}
		&__item {
			width: 100vw;

			&-photo {
				margin: 0 auto;
			}
		}
	}
}



.what-to-do-if {

	&__container {
		max-width: 1450px;
		padding: 65px 20px 130px 20px;
		margin: 0 auto;

		h1 {
			text-align: center;
		}

		.purple-btn {
			margin: 30px auto 0 auto;
			width: 188px;
			height: 58px;

			display: none;
		}
	}
	&__items {
		margin-top: 50px;
		@include grid(grid, 1fr 1fr 1fr, 40px 30px, start, stretch);
	}
	&__item {
		width: 100%;

		border: 5px solid #D7E2F1;
		border-radius: 24px;
		background: #FFFBFB;

		overflow: hidden;
		
		h6 {
			padding: 45px 30px 0 30px;
		}

		p {
			padding: 20px 30px 49px 30px;
			@include font(16px, 140%);
			letter-spacing: 0.5px;
			color: #495464;
		}

		img {
			width: 100%;
			height: 290px;

			object-fit: cover;
		}
	}
}

@media (min-width: 1300.1px) {
	.what-to-do-if {

		&__items {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}

		&__item {

			img {
				height: 311px;
			}

			&:nth-child(1) {
				grid-column: 1/3;
			}
			&:nth-child(2) {
				grid-column: 3/5;
			}

			&:nth-child(1),
			&:nth-child(2) {

				h6 {
					font-size: 25px;
				} 
				p {
					font-size: 18px;
				}
			} 
		}
	}
}

@media (max-width: 991.5px) {
	.what-to-do-if {

		&__container {
			padding: 55px 20px 120px 20px;
		}
		&__items {
			margin-top: 40px;
			grid-template-columns: 1fr 1fr;
		}
		&__item {

			h6 {
				padding: 35px 25px 0 25px;
			}
			p {
				padding: 20px 25px 40px 25px;
			}

			img {
				height: 240px;
			}
		}
	}
}

@media (max-width: 767.5px) {
	.what-to-do-if {

		&__container {
			padding: 45px 20px 110px 20px;
		}
		&__items {
			margin-top: 30px;
			gap: 30px 20px;
		}
		&__item {
			border: 3px solid #D7E2F1;

			h6 {
				padding: 20px 15px 0 15px;
			}
			p {
				padding: 15px 15px 20px 15px;
			}
			img {
				height: 205px;
			}
		}
	}
}

@media (max-width: 575.5px) {
	.what-to-do-if {

		&__container {
			padding: 40px 20px 100px 20px;

			h1 {
				font-size: 43px;
			}
			.purple-btn {
				display: flex;
			}
		}
		&__items {
			max-width: 400px;
			margin: 20px auto 0 auto;
			grid-template-columns: 1fr;
		}
		&__item {

			img {
				height: 175px;
			}
		}
	}
}
