// Reset CSS
@import "reset.scss";



// Variables
$Caveat: 'Caveat', cursive;
$Montserrat: 'Montserrat', sans-serif;

$anim: all 0.3s ease;



// Mixins
@mixin font ($fs, $lh) {
	font-size: $fs;
	line-height: $lh;
}

@mixin flex ($f, $fd, $g, $ai, $jc) {
	display: $f;
	flex-direction: $fd;
	gap: $g;
	align-items: $ai;
	justify-content: $jc;
}

@mixin modal-bg-shdw-brdr($br) {
	background: #FFFFFF;
	border: 5px solid #D7E2F1;
	box-shadow: 10px 30px 20px rgba(0, 0, 0, 0.05);
	border-radius: $br;
}

@mixin block($br) {
	background: #FFFFFF;
	box-shadow: 10px 30px 20px rgba(0, 0, 0, 0.05);
	border-radius: $br;
}



%flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

%background {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	width: 100%;
	height: 100%;

	background: url("../img/bg.png");
	background-size: 100% auto;
	mix-blend-mode: color-burn;
	
	opacity: 0.07;
}

%cross {
	width: 24px;
	height: 24px;

	background: url("../img/cross.svg") no-repeat;
	background-size: cover;
}

%popup {
	position: fixed;
	z-index: 20;

	@extend %flex-center;
	width: 100%;
	height: 100%;

	background: rgba(0 , 0 , 0, 0.1);

	transition: $anim;

	visibility: hidden;
	opacity: 0;
}

%popup-container {
	position: relative;
	
	@extend %flex-center;
	width: 100%;
	height: 100%;

	@include modal-bg-shdw-brdr(60px);

	transition: $anim;

	transform: scale(0);
}



body {
	font-family: $Montserrat;

	background: #FFFBFB;
}

h1, h3, h4 {
	font-family: $Caveat;
	font-weight: 700;
}
h1 {
	@include font(120px, 150%);
	color: #2E1F3C;
}
h3 {
	@include font(50px, 63px);
	color: #2E1F3C;
}
h4 {
	@include font(36px, 150%);
	color: #111827;
}

@media (max-width: 1200px) {
	h1 {
		font-size: 100px;
	}
}

@media (max-width: 991.5px) {
	h1 {
		font-size: 80px;
	}
	h3 {
		@include font(40px, 55px);
	}
}

@media (max-width: 767.5px) {
	h1 {
		font-size: 65px;
	}
	h3 {
		@include font(32px, 44px);
	}
	h4 {
		font-size: 30px;
	}
}

@media (max-width: 575.5px) {
	h1 {
		font-size: 44px;
	}
	h3 {
		@include font(25px, 32px);
	}
	h4 {
		font-size: 26px;
	}
}



.wrapper {
	position: relative;
}



.background {
	@extend %background;
}



.purple-btn,
.purple-circle-btn {
	height: 50px;
	@extend %flex-center;

	background: #535182;
	border-radius: 50px;
}
.purple-btn {
	@include font(18px, 22px);
	font-weight: 600;
	color: #FFF;
}
.purple-circle-btn {
	width: 50px;
}



.header {
	width: 100%;

	position: fixed;
	z-index: 10;

	background: #FFFBFB;

	&__background {
		@extend %background;
	}

	&__container {
		position: relative;
		z-index: 2;

		padding: 0 20px;
		max-width: 1458px;
		width: 100%;
		height: 99px;
		margin: 0 auto;

		@include flex(flex, row, 0, flex-start, space-between);
	}

	&__logo {
		height: 100%;
	}

	&__menu {

		ul {
			padding-top: 43px;
			@include flex(flex, row, 33px, flex-start, stretch);
		
			li {
				position: relative;

				a {
					@include font(16px, 20px);
					font-weight: 600;
					color: #495464;

					transition: $anim;
				}
			}

			li.active {

				&:after {
					content: "";

					position: absolute;
					bottom: -18px; // 9 + 9
					left: 0;

					display: inline-block;
					width: 103%;
					height: 9px;

					background: url("../img/menu-underline.svg") no-repeat;
					background-size: 100% 100%;
				}

				a {
					color: #2E1F3C;
				}
			}
		}

		&-close {
			position: absolute;
			top: 35px;
			right: 22px;

			@extend %cross;

			display: none;
		}	
	}

	&__btns {
		padding-top: 24px;
		@include flex(flex, row, 22px, center, space-between);
	}
	
	&__language {
		position: relative;

		&-btn {
			padding-right: 3px;
			width: 56px;
			height: 50px;
			@extend %flex-center;

			font-family: $Caveat;
			@include font(20px, 150%);
			font-weight: 700;
			letter-spacing: -0.03em;
			color: #2E1F3C;

			background: url("../img/language-btn-circle.svg") no-repeat;
			background-size: cover;
		}
		&-content {
			position: absolute;
			top: 74px;
			left: calc(((112px - 56px) / 2) * -1); // center

			padding: 14px 0 19px 0;
			width: 112px;
			@include flex(flex, column, 13px, center, flex-start);

			@include modal-bg-shdw-brdr(20px);

			transition: all 0.2s ease;

			visibility: hidden;
			opacity: 0;

			li {
				a {
					@include font(16px, 150%);
					color: #2E1F3C;
					font-weight: 700;

					transition: $anim;
				}
			}

			li.active {
				a {
					color: #EE5646;
				}
			}

			&_open {
				visibility: visible;
				opacity: 1;
			}
		}
	}

	.purple-btn {
		width: 204px;

		@include font(16px, 20px);
	}

	&__socials {
		@include flex(flex, row, 4px, center, flex-start);
	}

	&__burger {
		width: 38px;
		height: 35px;

		background: url("../img/burger.svg") no-repeat;
		background-size: cover;

		display: none;
	}
}

@media (hover: hover) {
	.header {
		&__menu {
			ul {
				li {
					a:hover {
						color: #2E1F3C;
					}
				}
			}
		}
		&__language {
			&-content {
				li {
					a:hover {
						color: #EE5646;
					}
				}
			}
		}
	}
}

@media (max-width: 1300px) {
	.header {
		&__socials {
			display: none;
		}
	}
}

@media (max-width: 1100px) {
	.header {
		&__menu {
			ul {
				gap: 25px;
			}
		}
		&__btns {
			gap: 12px;
		}
	}
}

@media (max-width: 991.5px) {
	.header {
		&__menu {
			ul {
				gap: 20px;
			}
		}
		&__language {
			&-content {
				top: 64px;
				left: -7px;

				width: 70px;
			}
		}
		.purple-btn {
			display: none;
		}
	}
}

@media (max-width: 767.5px) {
	.header {
		&__menu {
			position: absolute;
			top: -450px;
			left: 0;
			z-index: 3;

			padding: 124.5px 0 97.5px 0;
			width: 100%;

			@include modal-bg-shdw-brdr(0px 0px 20px 20px);

			transition: $anim;

			visibility: hidden;

			ul {
				padding-top: 0;
				@include flex(flex, column, 30px, center, flex-start);

				li {
					a {
						@include font(18px, 22px);
					}
				}
				li.active {
					padding-bottom: 14px;

					&:after {
						bottom: 0;
					}
				}
			}

			&-close {
				display: inline-block;
			}

			&_open {
				top: 0;

				visibility: visible;
			}
		}
		&__btns {
			gap: 20px;
		}
		&__burger {
			display: inline-block;
		}
	}
}

@media (max-width: 575.5px) {
	.header {
		&__container {
			height: 51px;
		}

		&__btns {
			padding-top: 12px;
		}

		&__language {

			&-btn {
				width: 34px;
				height: 30px;

				font-size: 14.5755px;
			}

			&-content {
				top: 38px;
				width: 45px;

				padding: 11px 0 14px 0;
				gap: 8px;

				li {
					a {
						font-size: 14.5755px;
					}
				}
			}
		}

		&__burger {
			width: 24px;
			height: 22px;
		}
	}
}



.main {
	position: relative;
	z-index: 2;

	padding: 99px 0 0 0;
}

@media (max-width: 575.5px) {
	.main {
		padding: 51px 0 0 0;
	}
}



.initial {

	&__container {
		max-width: 1920px;
		margin: 0 auto;

		position: relative;
	}
	&__content {
		position: relative;
		z-index: 2;

		padding: 152px 0 172px 0;

		text-align: center;

		& > p {
			margin: 35px 0 41px 0;

			@include font(30px, 150%);
			font-weight: 700;
			text-transform: uppercase;
			color: #495464;
		}
	}
	&__btns {
		width: 388px;
		@include flex(inline-flex, row, 26px 11px, flex-start, center);
		flex-wrap: wrap;

		a {
			width: 188px;
			height: 58px;
			@extend %flex-center;

			background: #EE5646;
			border-radius: 50px;
		}

		a:nth-child(1) {
			img {
				height: 40.56px;
			}
		}

		a:nth-child(2) {
			img {
				height: 36.46px;
			}
		}

		.purple-btn {
			width: 236px;
			height: 58px;
		}
	}

	&__bg1,
	&__bg2 {
		position: absolute;
		z-index: 1;
	}

	&__bg1 {
		bottom: 65px;
		left: 48px;

		width: 43%;
	}

	&__bg2 {
		bottom: 0;
		right: 124px;

		width: 40%;
	}
}

@media (max-width: 1400px) {
	.initial {
		&__bg1 {
			left: 0;
		}
		&__bg2 {
			right: 0;
			bottom: 40px;
		}
	}
}

@media (max-width: 1200px) {
	.initial {
		&__content {
			padding: 100px 0 152px 0;
		}
	}
}

@media (max-width: 991.5px) {
	.initial {
		&__content {
			padding: 60px 0 152px 0;

			& > p {
				margin: 25px 0 31px 0;

				font-size: 28px;
			}
		}
	}
}

@media (max-width: 767.5px) {
	.initial {
		&__bg1 {
			bottom: 45px;
		}
		&__content {
			padding: 35px 0 152px 0;

			& > p {
				margin: 10px 0 20px 0;

				font-size: 24px;
			}
		}
	}
}

@media (max-width: 575.5px) {
	.initial {
		&__container {
			overflow-x: hidden;
		}

		&__bg1 {
			bottom: auto;
			top: 12px;
			left: 50%;
			//width: 68.8%;
			width: 219px;

			transform: translate(-43%, 0);
		}
		&__bg2 {
			z-index: 3;
			right: calc(50% - 190px);
			bottom: 27px;

			width: 150px;

			pointer-events: none;
		}
		&__content {
			padding: 153px 0 63px 0;
			width: 100%;

			overflow-x: hidden;

			& > p {
				margin: 10px 0 20px 0;

				font-size: 10px;
			}
		}
		&__btns {
			gap: 5px;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			width: 100%;

			a,
			.purple-btn {
				width: 280px;
				height: 45px;
			}

			a:nth-child(1) {
				img {
					height: 33px;
				}
			}

			a:nth-child(2) {
				img {
					height: 30px;
				}
			}
		}
	}
}



.orange-btn {
	@extend %flex-center;
	height: 58px;

	@include font(18px, 22px);
	font-weight: 600;
	color: #fff;

	background: #EE5646;
	border-radius: 100px;
}

@media (max-width: 575.5px) {
	.orange-btn {
		height: 45px;

		@include font(16px, 20px);
	}
}



.popup-subscribe {
	padding: 40px 30px;

	@extend %popup;

	&__container {
		padding: 0 30px;
		max-width: 990px;
		max-height: 620px;

		@extend %popup-container;
	}
	&__close-btn {
		position: absolute;
		top: 35px;
		right: 46px;

		@extend %cross;
	}
	&__content {
		max-width: 491px;
		@extend %flex-center;
		flex-direction: column;

		h4 {
			text-align: center;
		}

		.orange-btn {
			width: 188px;
		}
	}
	&__input {
		margin: 40px 0;

		@include flex(flex, row, 38px, center, center);
		width: 100%;

		span,
		input {
			font-family: $Caveat;
			color: #2E1F3C;
			font-weight: 700;
		}

		span {
			@include font(25px, 32px);
		}

		input {
			width: calc(100% - 57px - 38px);

			@include font(25px, 40px);

			border-bottom: 2px solid rgba(46, 31, 60, 0.5);
		}
	}
}
.popup-subscribe.open {
	visibility: visible;
	opacity: 1;

	.popup-subscribe__container {
		transform: scale(1);
	}
}

@media (max-width: 991.5px) {
	.popup-subscribe {
		&__container {
			max-height: 550px;
		}
	}
}

@media (max-width: 767.5px) {
	.popup-subscribe {

		&__container {
			max-height: 500px;
		}
		&__content {
			max-width: 400px;
		}
		&__input {
			margin: 30px 0;
		}
	}
}

@media (max-width: 575.5px) {
	.popup-subscribe {
		padding: 40px 15px;

		&__container {
			padding: 0 15px;
			max-height: 380px;
		}
		&__close-btn {
			top: 25px;
			right: 30px;
		}
		&__content {

			.orange-btn {
				width: 150px;
			}
		}
		&__input {
			gap: 15px;

			span {
				font-size: 22px;
			}

			input {
				width: calc(100% - 50px - 15px);

				font-size: 22px;
			}
		}
	}
}



.popup-success {
	padding: 40px 30px;

	@extend %popup;

	&__container {
		padding: 0 30px;
		max-width: 686px;
		max-height: 455px;

		@extend %popup-container;
	}
	&__close-btn {
		position: absolute;
		top: 35px;
		right: 60px;

		@extend %cross;
	}
	&__content {
		max-width: 491px;
		@extend %flex-center;
		flex-direction: column;

		img {
			width: 104.49px;
			height: 104.52px;
		}

		h4 {
			text-align: center;
		}

		display: none;

		&_subscribe {
			h4 {
				margin-top: 44.24px;
			}
		}
	}
}
.popup-success.open {
	visibility: visible;
	opacity: 1;

	.popup-success__container {
		transform: scale(1);
	}
}

@media (max-width: 991.5px) {
	.popup-success {
		&__container {
			max-height: 420px;
		}
	}
}

@media (max-width: 767.5px) {
	.popup-success {
		&__container {
			max-height: 390px;
		}
		&__content {
			max-width: 400px;

			img {
				width: 90px;
				height: 90px;
			}

			&_subscribe {
				h4 {
					margin-top: 38px;
				}
			}
		}
	}
}

@media (max-width: 575.5px) {
	.popup-success {
		padding: 40px 15px;

		&__container {
			padding: 0 15px;
			max-height: 330px;
		}
		&__close-btn {
			top: 25px;
			right: 30px;
		}
		&__content {
			max-width: 350px;

			img {
				width: 75px;
				height: 75px;
			}
		}
	}
}



.text16x24 {
	@include flex(flex, column, 24px, stretch, flex-start);

	@include font(16px, 150%);
	color: #2E1F3C;
}



.hi {

	&__container {
		position: relative;

		max-width: 1515px;
		padding: 145px 20px 155px 20px;
		@include flex(flex, column, 0, flex-end, flex-start);
		margin: 0 auto;

		overflow-x: hidden;
	}
	&__image {
		position: absolute;
		top: 120px;
		left: 20px; 

		width: 53.35%;
	}
	&__content {
		width: 50.1%;
		position: relative;

		h3 {
			text-align: center;
			margin-bottom: 25px;
		}
	}
	&__block {
		position: relative;

		min-height: 442px;
		padding: 40px 30px;
		@extend %flex-center;

		@include block(20px);

		.text16x24 {
			max-width: 598px;
		}

		&:after {
			content: "";

			position: absolute;
			right: -40px;
			top: -70px;

			display: inline-block;
			width: 145px;
			height: 145px;

			background: url("../img/needle.png") no-repeat;
			background-size: cover;
		}
	}
}

@media (max-width: 1199.5px) {
	.hi {

		&__container {
			padding: 125px 20px 130px 20px;
		}
		&__image {
			top: 200px;
			width: 42%;
		}
		&__content {
			width: 60%;
		}
		&__block {

			&:after {
				right: -35px;
				top: -65px;

				width: 130px;
				height: 130px;
			}
		}
	}
}

@media (max-width: 991.5px) {
	.hi {

		&__container {
			padding: 80px 20px 100px 20px;
		}
		&__image {
			top: 240px;
			width: 39%;
			left: 0;
		}
		&__content {
			width: 65%;

			h3 {
				margin-bottom: 15px;
			}
		}
	}
}

@media (max-width: 767.5px) {
	.hi {

		&__container {
			padding: 20px 20px 80px 20px;
			align-items: center;
		}
		&__image {
			position: relative;
			top: auto;
			left: auto;
			width: calc(100% + 40px);
			max-width: 500px;
		}
		&__content {
			width: 100%;
		}
	}
}


@media (max-width: 575.5px) {
	.hi {
		&__container {
			padding: 0 20px 80px 20px;
		}

		&__image {
			left: -8px;
		}

		&__block {
			padding: 20px;


			&:after {
				right: -28px;
				top: 15px;

				width: 80px;
				height: 80px;
			}
		}
	}
}



.video-history {

	&__container {
		margin: 0 auto;
		padding: 0 20px;
		max-width: 1173px;
	}
	&__video {
		position: relative;
		z-index: 2;

		width: 1133px;
		height: 498.77px;

		border: 20.2547px solid #241731;
		box-shadow: inset 0px 5.06369px 5.06369px rgba(0, 0, 0, 0.1);
		border-radius: 88.6145px;

		overflow: hidden;

		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		button {
			position: absolute;
			top: 0;
			left: 0;

			padding-bottom: 72.5px;
			width: 100%;
			height: 100%;
			@include flex(flex, column, 10px, center, flex-end);

			background: rgba(0, 0, 0, 0.3);
			backdrop-filter: blur(12.6592px);

			transition: all 0.2s ease;

			img {
				width: 180px;
			}

			span {
				font-family: $Caveat;
				@include font(55px, 69px);
				font-weight: 700;
				color: #FFFFFF;
			}
		}
	}
	&__block {
		position: relative;
		z-index: 1;

		width: calc(100% - 68px);
		padding: 152px 0 42px 0;
		margin: -100px auto 0 auto;

		@include block(20px);
		
		h3 {
			margin: 0 auto;
			max-width: 856px;
			text-align: center;
		}
	}
}
